# 0 IMPORTS

In [1]:
import pandas as pd

import pandas.io.sql as psql
import psycopg2 as pg

import warnings

warnings.filterwarnings( 'ignore' )

## 0.1 Funções auxiliares

## 0.2 Carregamento dos dados

In [2]:
# Credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

In [3]:
conn = pg.connect(user=username,
                 password=pwd,
                 host=host,
                 port=port,
                 database=database)

In [4]:
query = """
        SELECT
            u.id,
            u.gender,
            u.age,
            u.region_code,
            u.policy_sales_channel,
            i.previously_insured,
            i.annual_premium,
            i.vintage,
            i.response,
            v.driving_license,
            v.vehicle_age,
            v.vehicle_damage
        FROM pa004.users as u 
        LEFT JOIN pa004.insurance as i ON (u.id = i.id)
        LEFT JOIN pa004.vehicle as v ON (u.id = v.id)
        """

In [5]:
df_raw = pd.read_sql(query, conn)
conn.close()

In [7]:
df_raw.head()

,id,gender,age,region_code,policy_sales_channel,previously_insured,annual_premium,vintage,response,driving_license,vehicle_age,vehicle_damage
0,7,Male,23,11.0,152.0,0,23367.0,249,0,1,< 1 Year,Yes
1,13,Female,41,15.0,14.0,1,31409.0,221,0,1,1-2 Year,No
2,18,Female,25,35.0,152.0,1,46622.0,299,0,1,< 1 Year,No
3,31,Female,26,8.0,160.0,0,2630.0,136,0,1,< 1 Year,No
4,39,Male,45,8.0,124.0,0,42297.0,264,0,1,1-2 Year,Yes